<html>

<head>
    {{template "static" .}}

    <title>TxtReSearch考据级搜索系统</title>
</head>

<body style="font-size: 16px;">

    <div id="home" style="max-width: 1024px; margin-right: auto; margin-left: auto;">
        {{template "header" .}}
        {{template "search" .}}
        {{template "gomove" .}}
        <div class="card">
            <div class="card-header">
                <h2>TxtReSearch考据级搜索系统</h2>
            </div>
            <div class="card-header">
                <b>为什么需要考据级别搜索</b><br/>
               传统流行的搜索引擎技术以及AI领域技术，对全文索引都是采用分词技术。</b>
                <br>
                分词技术的缺点：<br/>
                1，可能不能分辨多义词。<br/>
                2，分词只能基于现有文本进行统计或总结得出，并且不能保证完整，新词出现无法搜索。<br/>
                <b>总结</b>就是，分词技术，会存在漏洞，理论上对全文不能100%的搜索得结果，也就是不能做到考据级别的搜索。<br/>
                故而对于一些需要考据级别的搜索，比如传统文化的古籍考据、法律法规的考据等等，分词技术就不能适用。<br/>
            </div>
            <div class="card-header">
                <b>考据级别搜索的优点</b><br/>
               考据级别的搜索不需要分词技术，故而不需要分词库，也不需要维护分词库，故而比传统搜索系统性一定<b>更优更快</b></b>。
                <br>
                出现任何新词，都是可以马上搜索到结果，包括之前的数据，都能<b>100%</b>搜索得处结果，考据级别搜索。<br/>
                分词技术则需要对现存的大量数据重新对新词进行建立索引，才能搜索得到结果。需要消耗大量的时间和资源。<br/>
                在搜索方面（不需要AI领域的深度学习等的情况下），考据搜索完全可以<b>兼容</b>或<b>替换</b>分词技术的搜索技术。<br/>
                
            </div>
            <div class="card-header">
                <b>TxtReSearch考据级搜索系统的定位</b><br/>
               定位单机部署的小型搜索引擎系统</b>。
                <br>
                可以自用，亦可<b>局域网</b>内手机、电脑等团体使用。
                <br>
                或可搭建互联网网站使用。
                <br>
                现已收集了四库全书的易藏、儒藏、道藏、佛藏、子藏、史藏、诗藏、集藏、医藏、艺藏、龙藏（乾隆大藏经）等资料。
                <br/>
                提供中国传统文化爱好者使用。
                <br/>
                特别是教师，佛道宗教团体，或历史研究者，医生、古典文学爱好者等等。
                <br/>
                后续会继续提供法律法规、各种字词典等等资源供下载。<br/>
                个人或公司皆可自行整理自己的资料，生成搜索，建立自己的知识库或资料库搜索系统。                
            </div>
            <!--
            <div class="card-header">
                <b>免费下载使用</b>，仅限非商业使用<br/>                
                1.TxtReSearch系统，无资料，可自己按需下载四库全书等公共资料。        
               <br/>
               2.四库全书资料下载。
               <br/>
               由于索引文件比较大，无法上传，需要自己建立索引，才能进行搜索功能。               
               <br/>
               打开建立索引地址即可。
               <br/>详细参考“使用说明”。
               <br/>
               下载地址：               
                如有需要，请邮件联系。
            </div>   
              -->
        </div>
        {{template "footer" .}}
</body>

</html>