<!DOCTYPE html>
<html lang="zh">

<head>
	{{template "static" .}}
	<title>{{jf "注册--千佛网" .Ift}}</title>

</head>

<body>
	<div id="home" style="max-width: 1024px; margin-right: auto; margin-left: auto;">
		{{template "header" .}}
		{{template "search" .}}
		{{template "gomove" .}}
		<div class="card">
			<div class="card-header">
				<div class="row" style="max-width: 360px; margin-right: auto; margin-left: auto;">
					<h1>{{jf "千佛网注册" .Ift}}</h1>
					<div class="mb-3">
						HTML5中像网页中保存cookie的实现 <br>
if(window.plus)//判断当前的设备是手机<br>

window.localStorage.setItem("key","value");//设置值<br>

window.localStorage.getItem("key");//获取值<br>
					</div>
					<div class="mb-3">
						<label for="exampleInputEmail1" class="form-label">{{jf "法号" .Ift}}</label>
						<input type="text" class="form-control" id="fahao" maxlength="49">

					</div>
					<div class="mb-3">
						<label for="exampleInputPassword1" class="form-label">{{jf "密码" .Ift}}</label>
						<input type="password" class="form-control" id="Password1" maxlength="49">
					</div>
					<div class="mb-3">
						<label for="exampleInputPassword1" class="form-label">{{jf "确认密码" .Ift}}</label>
						<input type="password" class="form-control" id="Password2" maxlength="49">
					</div>
					<div class="mb-3">
						<label for="exampleInputCaptcha" class="form-label">{{jf "验证码" .Ift}}</label>
						<input type="text" class="form-control" id="code" maxlength="49" onfocus="getCaptcha()">
						<a href="javascript:" onclick="getCaptcha()"> <img src="" id="capimg"></a>
						<div id="mpanel2"></div>
						<button type="button" id="check-btn" data-id="" class="btn btn-primary" onclick="Ins()">{{jf
							"确定" .Ift}}</button>
					</div>
				</div>
			</div>
		</div>
		{{template "footer" .}}
	</div>
	<script type="text/javascript">
		/*
		远程读取最新服务器文件，更改config.json的sev、 jjsev的值，并提供给用户下载达到更新服务器的目的。
		"sev":"http://127.0.0.1:8049",
    	"jjsev":"http://127.0.0.1:8050"
		*/
		//生成文件并下载
		function download(filename, text) {
			var element = document.createElement('a');
			element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(text));
			element.setAttribute('download', filename);
			element.style.display = 'none';
			document.body.appendChild(element);
			element.click();
			document.body.removeChild(element);
		}

		//download("hello.txt", "This is the content of my file :)");


	</script>

</body>

</html>